@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display-hidden{
    display: none;
}

:root{
    --primary-font:"Poppins", sans-serif;
    --secondary-font: "Inter", sans-serif;
    --footer-font: "Manrope", sans-serif;
    --primary-color: #3A3A3A;
    --secondary-color: #E02C6D;
    --normal-color: rgba(120, 120, 133, 1);
    --footer-color: #0A0826;
}

.container{
    max-width: 1200px;
    width: 75%;
    margin: 0 auto;
}

.display-flex{
    display: flex;
}

.primary-btn{
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 25px;
    color: #fff;
    background: var(--secondary-color);
    border: 2px solid transparent;
    border-radius: 41px;
    cursor: pointer;
    transition: all 0.3s;
}

.secondary-btn{
    padding: 10px 25px;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    background: var(--secondary-color);
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.3s;
}

.primary-btn:hover, .secondary-btn:hover{
    background: transparent;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

/*========== share style ===========*/


/*========== Navber style ===========*/

.navber{
    padding: 87px 0px 50px;
    justify-content: space-between;
    align-items: center;
}

.navber a{
    color: var(--primary-color);
    font-family: var(--primary-font);
}

.navber .brand h3 a{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}

.menu{
    gap: 34px;
}

.menu-link{
    list-style: none;
}

.menu-links{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

/*========== banner style ===========*/

.banner-contain{
    justify-content: center;
    align-items: center;
    gap: 135px;
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.banner-title{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 70px;
}

.banner-detail{
    padding: 16px 0px 30px;
    font-size: 1rem;
    font-weight: 600;
}

.text-contain{
    max-width: 582px;
}

.img-contain{
    background: url(../images/Circle\ design.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.img-contain img{
    width: 100%;
}

/*========== company name style ===========*/

#company-name{
    padding: 70px 0px 100px;
}

.company-icon img{
    width: 100%;
}

.company-icon{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 40px 60px;
    gap: 60px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #C0CCDA;
    border-bottom: 1px solid #C0CCDA;
}

/*========== popular collection style ===========*/

#popular-collection{
    font-family: var(--primary-font);
    margin-bottom: 100px;

}

.popular-title{
    padding-bottom: 30px;
    text-align: center;
    font-size: 1.75rem;
    line-height: 70px;
    font-weight: 600;
}

.cards{
    display: grid;
    gap: 15px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.card{
    max-width: 329px;
    padding: 17px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

.card img{
    width: 100%;
}

.card-title{
    font-size: 1.75em;
    font-weight: 500;
    line-height: 40px;
    color: var(--primary-color);
}

.card-price{
    padding: 10px 0;
    font-family: var(--secondary-font);
    font-size: 1.2rem;
}

.card-delivary,
.storg,
.Buyers{
    padding: 3px 0;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 0.8rem;
    color: var(--normal-color);
}

.see-more{
    text-align: right;
    padding-top: 50px;
    margin-right: 60px;
    font-size: 1rem;
    font-weight: 700;
    color: var(--secondary-color);

}


/*=============================================
    Featured ProductsFeatured Products style 
===============================================*/
#featured-product{
    margin-bottom: 100px;
}

.featured-contain{
    justify-content: space-between;
    align-items: center;
    gap: 95px;
    font-family: var(--primary-font);
}

.featured-img img{
    width: 100%;
}

.featured-text .featured-title{
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 60px;
}

.featured-text .featured-detail{
    padding: 16px 0;
    font-size: 1re;
    font-weight: 700;
    line-height: 28px;
    color: var(--normal-color);
}

/*========== footer style ===========*/

footer{
    padding: 50px 0;
    font-family: var(--footer-font);
    text-align: center;
    background: var(--footer-color);
    color: #fff;
}

.footer-title{
    font-family: var(--primary-font);
    font-size: 1.8rem;
    font-weight: 700;
}

.copyright, .all-right{
    padding: 3px 0;
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--normal-color);
}

.social{
    padding: 16px 0;
    justify-content: center;
    gap: 16px;
}

.social li{
    padding: 7.5px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    list-style: none;
}

.social li a{
    font-size: 1rem;
    color: #fff;
}



/* responsive device 576px */
@media screen and (max-width: 576px) {

    .navber, .menu{
        flex-direction: column;
    }
    .banner-contain,
    .featured-contain{
        flex-direction: column-reverse;
    }


    /* share style */

    .banner-contain{
        text-align: center;
        gap: 40px;
    }

    .banner-title{
        font-size: 1.75rem;
        line-height: 40px;

    }

    .text-contain{
        width: 350px;
    }

    /* banner style */

    .navber{
        padding: 35px 0;
    }

    .menu{
        gap: 10px;
        text-align: center;
    }



    /* company name */

    #company-name {
    padding: 70px 0px 40px;
}

    .company-icon img{
        width: 68px;
    }
    .company-icon{
        margin: 0 auto;
        gap: 20px;
        grid-template-columns:repeat(4, 1fr);
        padding: 0 42px;
        border: none;
    }


    /* popular collection style */

    .popular-title {
    padding-bottom: 20px;
    
}

    .cards{
        grid-template-columns: repeat(1, 1fr);
    }

    .see-more{
        text-align: left;
    }


    /* fueatured section */
    
    .featured-contain{
        gap: 50px;
        text-align: center;
    }
    
    .featured-text .featured-title {
    font-size: 1.5rem;
    line-height: 30px;
    }



        /* footer section */
.footer-title {
    font-size: 1.5rem;
}
}

